body{
    font-family:monospace;
    margin: 5% 5% 5% 40%;
}

.heading{
    font-size: 40px;
    font-variant: small-caps;
    margin-left: 5%;
}

label{
    font-size: 18px;
    display: block;
}

.space{
    margin-top: 2%;
}

input:required {
    border: 1px solid #AAABAD;
    width: 30%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

input:optional{
    border: 1px solid #EBEDEF;
    width: 30%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


input[type="text"],input[type="email"],input[type="password"],input[type="tel"],input[type="date"]{
    width: 30%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.buttonP{
    border: 1px solid #AAABAD;
    background-color: #BABEC2;
    width: 30%;
    padding: 1% 0 1% 0;
}

.buttonP:hover{
    border: 1px solid #AAABAD;
    background-color: black;
    color: white;
    cursor: pointer;
}

.red{
    color:red;
}
